body {
  background-image: url("https://t3.ftcdn.net/jpg/02/98/20/18/360_F_298201821_e90YxH0f6FBwOvcKhynlwF8sNYxlCMsg.webp");
}

.profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% 30% 0%;
  gap: 60px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  width: 10rem;
  padding: 3em;
  justify-content: center;
  align-items: center;
  height: 25rem;
  border: 0px;
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 30px;
  background-color: #008080;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  transition: all .3s ease;
  cursor: pointer;
  text-transform: capitalize;
  
}

.profile-box:hover {
  box-shadow: 7px 7px #888888;
  transition: 0.3s;
  transform: translateY(-5px);
  
}
.profile-box:active {
  transform: translateY(-1px);
  transition: all 0.3s ease .5s;
}

.search {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 10px;
}

.profile-box > div {
  margin: 10px;
  padding: 10px;
}

@media (max-width: 800px) {

  .profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0% 30% 0%;
    gap: 60px;
  }
}

.nav-button-profile{
  height: 20rem;
  width: 5rem;
  margin-top: 9px;
  border: none;
  padding-left: -20px;
  padding-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 1.5px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: -11.5rem;
  margin-left: 45rem;
  border-radius: 45%;
  text-transform: capitalize;
}

.nav-button-profile:hover {

  transition: 0.3s;
  /* color: #fff; */
  transform: translateY(-7px);
}

.nav-button-profile:active {
  transform: translateY(-1px);
}

.home {
  padding: 10px;
}

.chat-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.chat-button:hover {
  background-color: #0bf0d1;
  box-shadow: 0px 15px 20px rgba(0, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.chat-button:active {
  transform: translateY(-1px);
}
img {
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  border-radius: 0%;
  object-fit: none;
}

.nav-button-signout {
  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  font-family: comfortaa;
  height: 2.2rem;
  line-height: 1.2rem;
  margin-top: 3.5rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  color: rgb(235, 227, 227);
  background-color: rgba(255, 94, 0, 0.486);
}

.nav-button-signout:hover {
  color: rgb(235, 227, 227);
  background-color: rgba(255, 94, 0, 0.897);
}
