@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:wght@900&family=Varela+Round&display=swap');

html, body {
  margin: 0;
  padding: 0;
}



* {
  /* font-family: 'comfortaa', sans-serif; */
}

.primary-title {
  font-family: 'Comfortaa', cursive;
  font-size: 90px;
  color: rgb(255,255,255);
}

.primary-button {
  color: rgb(240, 240, 240);
  text-transform: uppercase;
  font-family:'Raleway', sans-serif;
  
  font-size: 15px;
  background: linear-gradient(87deg, rgb(220 104 202), rgb(255 150 12));
  padding: 12px  30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background: linear-gradient(268deg, rgb(220 104 202), rgb(255 150 12));
}

.secondary-button {
  color: rgb(121,119,119);
  background-color: rgb(255, 255, 255);
  font-weight: 500px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121,119,119);
  margin: 6px;

}

.secondary-button:hover {
  color: rgb(48,48,48);
  border: solid 2px rgb(48,48,48);
}

 body {
  text-align: center;
}

/* --------Nav bar---------- */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  
}

 nav .nav-button {

  border-radius: 1rem;
  border: 0;
  font-size: 1.5rem;
  font-family:sans-serif;
  height: 2.2rem;
  line-height: 1.2rem;
  margin-top: 45px;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  color:white;
  /* border-style: solid; */
  /* border-color: rgb(255,255,255); */
  background:linear-gradient(87deg, rgb(255 150 12), rgb(220 104 202));
  background-color: transparent;
}

nav .nav-button:disabled {
  background: linear-gradient(rgb(180, 180, 180), rgb(180, 180, 180));
  /* background-color: rgb(180, 180, 180);
  color:rgb(253, 253, 253); */
}

nav .logo-container {
  width: 145px;
  margin: 15px;
}

nav .logo-container .logo {
  width: 100%
} 

/* --------Login Page---------- */

.overlay {

  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgb(120, 233, 216) 20%,
    rgba(97, 176, 212, 0) 100%);
    
}
 
/* --------Auth Modal---------- */
.auth-modal {

  /* position: absolute; */
  top: 175px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]
 {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
}

