.sign-up-form {
  top: 175px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 430px;
  background-color: #A9D5D6;
  border-radius: 10px;
  padding: 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}



.sign-up-form:hover {
  box-shadow: 0px 15px 20px rgba(0, 1, 1, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.sign-up-form:active {
  transform: translateY(-1px);
}

.edit-form {
  top: 175px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 430px;
  background-color: #A9D5D6;
  border-radius: 10px;
  padding: 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}



.edit-form:hover {
  box-shadow: 0px 15px 20px rgba(0, 1, 1, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.edit-form:active {
  transform: translateY(-1px);
}

.profile-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.edit-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.edit-button:hover {
  background-color: #0bf0d1;
  box-shadow: 0px 15px 20px rgba(0, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.edit-button:active {
  transform: translateY(-1px);
}


.update-button, .cancel-button  {
  padding: 1.1em 1.7em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}

.searchType {
  border: none;
  padding: 5px;
  border-radius: 5pc;
}

.buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-content: space-between;
  
}

.species, .size {
  font-size: 15px;
  height: 25px;
  border: 0px;
  border-radius: 5px;
}


.update-button:hover{
  background-color: #0bf0d1;
  box-shadow: 0px 15px 20px rgba(0, 255, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.cancel-button:hover {
  background-color: #fb0303;
  box-shadow: 0px 15px 20px rgba(242, 5, 5, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.update-button:active, .cancel-button:active {
  transform: translateY(-1px);
}

